@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.dark-box {
    background-color: #2C2E31;
}
.dark-box .title {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}
.dark-box .tagline {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}
.dark-box .tagline a {
    color: #2287cf;
}
.dark-box .social-media {
    font-size: 14px;
    color: #c2c0c0;
    text-decoration: none;
    font-weight: 400;
}
.dark-box .social-media img {
    width: 15px;
}
.light-box .profile-picture img {
    border: 1px #b0aeae solid;
    padding: 5px;
    background-color: #FFFFFF;
}
.light-box .profile-picture hr {
    margin-top: -50px;
    opacity: unset;
    background-color: #b0aeae!important;
}
.light-box .profile-picture h5 {
    font-family: 'Play', sans-serif;
    margin-top: 75px;
    margin-bottom: 0;
    color: #999;
}
.light-box .profile-picture h1 {
    font-family: 'Play', sans-serif;
    font-weight: 600;
}
